* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: 'Overpass';
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	/*min-height: 100vh;*/
	/*height: 100vh;*/
/*	padding: 0;
	margin: 0;
	overflow-x: hidden;
	align-items: center;
	/*width: 100%*/
/*	align-content: space-around;*/
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	/* border: 1px solid blue; */
	background-color: rgb(130, 138, 250);
	height: auto;
	margin: 0;
	width: 100%;
}

.lk_btn {
	font-family: 'Overpass';
	padding: 10px 20px;
	background-color: azure;
	border-radius: 10px;
	border: 1px solid blue;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: 0.3s;
}

.lk_btn:hover {
	background-color: rgb(199, 199, 245);
}

.header_flex {
	display: flex;
	justify-content: space-between;
}

.header_nav {
	display: flex;
}

.header_nav_list {
	display: flex;
	list-style-type: none;
}

.header_nav_item {
	margin-right: 10px;
	transition: 0.3s;
}

.header_nav_item:hover {
	color: azure;
}

.text_logo {
	color: azure;
	margin-left: 10px;
}

.site_links {
	text-decoration: none;
	color: black;
}

.section_new_post {
	border: 1px solid purple;
}

.section_new_post_flex {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.all_posts_item_flex {
	/* display: block; */
	/* justify-content: space-between; */
	margin-bottom: 30px;
}

.all_posts_item {
	background-color: rgb(215, 224, 245);
	margin: 0 auto;
	box-shadow: 3px 3px 3px 3px rgba(174, 174, 238, 0.2);
}

.all_posts_item_texts {
	margin-left: 30px;
	padding-bottom: 20px;
}

.all_posts_item_h2 {
	/* text-align: center; */
}

.all_posts_pagination {
	text-align: center;
	margin-bottom: 30px;
}

.all_posts_pag {
	text-decoration: none;
	color: black;
}

.section_all_hubs_flex {
	display: flex;
	justify-content: space-between;
}

.all_hubs_item {
	margin-right: 20px;
	border: 1px solid green;
}

.section_reg_welcome {
	margin-top: 20px;
	/* margin-bottom: 20px; */
	/* border: 1px solid red; */
	text-align: center;
	background-color: rgb(222, 222, 245);
}

.reg_welcome_h3 {
	padding-top: 20px;
}

.btn_welcome_reg {
	margin-bottom: 10px;
}

.footer {
	/* border: 1px solid blue; */
	background-color: rgb(9, 9, 83);
	height: auto;
	margin: 0;
	width: 100%;
}

.footer_left {
	color: azure;
	margin-left: 10px;
}

.footer_flex {
	display: flex;
	justify-content: space-between;
}

.footer_right {
	display: flex;
	justify-content: space-between;
}

.footer_nav {
	text-decoration: none;
	color: black;
	display: block;
	align-self: center;
	margin-right: 10px;
	color: azure;
	transition: 0.3s;
}

.footer_nav:hover {
	color: rgb(170, 169, 240);
}

.section_new_post_img {
	width: 736px;
	height: 415px;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}

.section_new_post_img_item {
	width: 30%;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.all_posts_pag {
	font-weight: 700;
	transition: 0.3s;
}

.all_posts_pag:hover {
	color: rgba(36, 24, 216, 0.541);
}

.btn_welcome_reg {
	font-family: 'Overpass';
	padding: 10px 20px;
	background-color: azure;
	border-radius: 10px;
	border: 1px solid blue;
	margin-top: 5px;
	/* margin-bottom: 5px; */
	transition: 0.3s;
	margin-bottom: 20px;
}


.btn_welcome_reg:hover {
	background-color: rgb(170, 169, 240);
}

.all_posts_pagination {
	text-align: center;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.pagination {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.hidden {
	display: none !important;
}

.section_new_post_img_full {
	width: 736px;
	display: block;
	margin: 0 auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.header_login {
	display: flex;
	align-items: center;
	/*padding-left: 0.5em;
	padding-right: 0.5em;*/
}

.show {
	display: block;
}

.dropdown-content {
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: auto;
	left: auto;
	right: 0px;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown {
	/*float: left;
	overflow: hidden;*/
	display: flex;
	align-items: center;
	padding-right: 0.25em;
}

.dropbtn {
	cursor: pointer;
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
	background-color: red;
}

main {
	height: 100%;
	width: 100%;
	margin: 0;
	flex-grow: 1;
}

.section_account {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow-x: hidden;
	align-items: flex-start;
	align-content: flex-start;
	margin-bottom: 1em;
	padding-left: 10%;
}

.section_account_flex {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.header_row {
	margin-left: 1em;
}

.nnn {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}