* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Tenor Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    border: 1px solid blue;
}

.header_flex {
    display: flex;
    justify-content: space-between;

}

.header_nav {
    display: flex;
}

.header_nav_list {
    display: flex;
    list-style-type: none;
}

.header_nav_item {
    margin-right: 10px;
}

.site_links {
    text-decoration: none;
    color: black;
}

.section_new_post {
    border: 1px solid purple;
}

.section_new_post_flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section_new_post_img {
    width: 300px;
}

/* потом размеры картинок изменить при необходимости*/

.all_posts_item_flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.all_posts_item_texts {
    margin-left: 20px;
}

.all_posts_pagination {
    text-align: center;
    margin-bottom: 30px;
}

.all_posts_pag {
    text-decoration: none;
    color: black;
}

.section_all_hubs_flex {
    display: flex;
    justify-content: space-between;
}

.all_hubs_item {
    margin-right: 20px;
    border: 1px solid green;
}

.section_reg_welcome {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid red;
    text-align: center;
}

.btn_welcome_reg {
    margin-bottom: 10px;
}

.footer_flex {
    display: flex;
    justify-content: space-between;
}

.footer_right {
    display: flex;
    justify-content: space-between;
}

.footer_nav {
    text-decoration: none;
    color: black;
    display: block;
    align-self: center;
    margin-right: 10px;
}