@page "/articles/Create"


<h1>Create Article</h1>
@* предварительная версия*@
<div>
    <div class="container"></div>

    <form method="post">
        <div class="mb-3">
            <label for="Title" class="form-label">Заголовок статьи</label>
            <input type="text" class="form-control" id="pageTitle">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Текст статьи</label>
            <textarea class="form-control" id="content"></textarea>
        </div>
        <div class="mb-3">
            <label for="ImageURL" class="form-label">Image Url</label>
            <input type="text" class="form-control" id="featuredImageURL">
        </div>  
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <div></div>
</div>



