@page
@model FirstProject.AuthAPI.Areas.Identity.Pages.Account.RapseArticleUsersModel
@{
    ViewData["Title"] = "Перенос пользователей из базы статей в базу пользователей";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-auto">
        <form id="parseArticleUserForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <h5>Количество авторов в базе статей (ArticlesDB): @Model.UserCountInArticles</h5>
            <button id="parseAuthorsSubmit" type="submit" class="btn btn-danger">Парсить</button>
        </form>
    </div>
</div>